<div class="card mt-5 shadow-effect">
  <div class="card-body">
    <h4> Leave a Comment </h4>
    <p>You can leave a comment using this comment form</p>

    <form>

      <div>
        <label for="">Name</label>
        <input type="text" class="form-control shadow-effect" name="" id="" placeholder="Enter your name here">
      </div>

      <div>
        <label for="">Comment</label>
        <textarea name="" class="form-control shadow-effect" id="" cols="30" rows="10" placeholder="Add your comment here"></textarea>
      </div>

      <button class="btn btn-info btn-theme my-2"> Add a Comment </button>

    </form>
  </div>
</div>
