<div class="card my-5 pb-5 shadow-effect">
  <div class="card-body">
    <h4 class="my-3"> Comments (15,256) </h4>

    <div class="comment-box mt-3">

      <h6 class="mb-0"> John Doe </h6>
      <small class="text-danger"> LAST UPDATED - SEP 20, 2021 </small>

      <div class="my-3">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit, placeat sapiente dolore, harum aspernatur cupiditate, voluptatem vero velit tenetur illum repudiandae ullam officia blanditiis iste asperiores a ipsa reprehenderit eaque!
      </div>

      <a href="#" class="mt-1 me-3"> Reply </a>
      <a href="#" class="mt-1"> View Reply </a>

      <hr>

    </div>
    <div class="comment-box mt-3">

      <h6 class="mb-0"> John Doe </h6>
      <small class="text-danger"> LAST UPDATED - SEP 20, 2021 </small>

      <div class="my-3">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit, placeat sapiente dolore, harum aspernatur cupiditate, voluptatem vero velit tenetur illum repudiandae ullam officia blanditiis iste asperiores a ipsa reprehenderit eaque!
      </div>

      <a href="#" class="mt-1 me-3"> Reply </a>
      <a href="#" class="mt-1"> View Reply </a>

      <hr>

    </div>
    <div class="comment-box mt-3">

      <h6 class="mb-0"> John Doe </h6>
      <small class="text-danger"> LAST UPDATED - SEP 20, 2021 </small>

      <div class="my-3">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit, placeat sapiente dolore, harum aspernatur cupiditate, voluptatem vero velit tenetur illum repudiandae ullam officia blanditiis iste asperiores a ipsa reprehenderit eaque!
      </div>

      <a href="#" class="mt-1 me-3"> Reply </a>
      <a href="#" class="mt-1"> View Reply </a>

      <hr>

    </div>


  </div>
</div>
