<section class="mt-5">
  <div class="container my-5 p-5 bg-theme">

    <h1 class="text-white text-center"> About Us </h1>

    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aliquid ullam fugiat amet autem, veritatis neque placeat eos eum dignissimos, magni quaerat excepturi exercitationem ex. Similique odio recusandae quasi veritatis eligendi et quo distinctio ratione molestias, inventore accusantium aperiam, dolor fugit vitae. Exercitationem aperiam itaque praesentium facilis labore tempore voluptas.</p>

      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste alias rem quia nisi et culpa! Cupiditate tenetur deserunt quas ea aliquam qui numquam voluptatum doloribus. Distinctio dolorum iste laborum saepe tenetur velit perferendis? Maxime adipisci quas consequuntur odit libero voluptate nobis provident sequi. Quam sint repellat velit totam, animi reiciendis?</p>

      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, earum nihil ipsam in voluptate dolore quis iure facilis! Modi, mollitia illo odit accusantium dolores aperiam perspiciatis blanditiis fugit tempora dicta commodi maiores quibusdam quisquam veritatis tempore aliquam voluptatem quasi pariatur!</p>

      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 btn-theme"> Back to Home </button>
      </div>

    </div>
  </div>
</section>
