<div class="container">
  <div class="row mb-3">
    <div class="card shadow-effect">
      <img src="{{ postData.postImgPath }}" alt="" class="card-img-top img-fluid">
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">

      <div class="card shadow-effect">
        <!-- <img src="assets/imgs/myimage.jpg" alt="" class="card-img-top img-fluid"> -->
        <div class="card-body">
          <small class="bg-light text-danger text-center ms-2"> {{ postData.category.category }} </small>
          <small class="bg-light text-success text-center ms-2" *ngIf="postData.isFeatured"> Featured </small>
          <small class="bg-light text-info text-center ms-2"> Views - {{ postData.views }} </small>
          <small class="bg-light text-warning text-center ms-2"> LAST UPDATED - {{ postData.createdAt.toMillis() | date }} </small>

          <h1 class="my-3"> {{ postData.title }} </h1>
          <p [innerHTML]="postData.content"> </p>
        </div>
      </div>


      <app-comment-form></app-comment-form>

      <app-comment-list></app-comment-list>

    </div>

    <div class="col-md-3">
      <div *ngFor="let similarPost of similarPostsArray">
        <app-post-card [postData]="similarPost"></app-post-card>
      </div>
    </div>
  </div>
</div>
